.account-icon {
  background-image: image-url('sprites.png');
  background-position: -192px -396px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.bag-icon {
  background-image: image-url('sprites.png');
  background-position: -264px -420px;
  background-repeat: no-repeat;
  height: 24px;
  width: 22px;
}

.remove-icon {
  background-image: image-url('sprites.png');
  background-position: -478px -160px;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}
